{% extends "base.html" %} {% block content %}
<style>
body {
  font-size: 120%;
  line-height: 150%;
  max-width: 50ch;
}
a {
  text-decoration: none;
}
.icon {
  height: 1.0em;
  width: 1.0em;
  padding-right: .3ch;
  vertical-align: text-top;
}
ul {
  list-style-type: none;
}
</style>
<h1>Ben Hansen</h1>

<h2>Current Projects</h2>

<ul>
  <li><a href="https://10buttons.com">10 Buttons</a></li>
  <li><a href="https://www.pinging.net">pinging.net</a></li>
</ul>

<h2>Contact</h2>

<ul>
  <li>
  <!-- icons from https://feathericons.com/ MIT licensed -->
  <a href="mailto:web@benhansen.io">
    <img class="icon" src="/icons/mail.svg">
    web@benhansen.io
  </a>
  <li>
  <a href="https://github.com/benhansen-io">
    <img class="icon" src="/icons/github.svg">
    GitHub
  </a>
  <li>
  <a href="https://www.linkedin.com/in/benhansen-io/">
    <img class="icon" src="/icons/linkedin.svg">
    LinkedIn
  </a>
  <li>
  <a rel="me" href="https://fosstodon.org/@benhansen">
    <img class="icon" src="/icons/mastodon.svg">
    fosstodon.org
  </a>
</ul>

<h2>Pages</h2>
<ul>
  <li>
    <a href="/linux-directory-permissions">Linux Directory Permissions</a>
  </li>
  <li>
    <a href="/browser-events-listener">Browser Events Listener</a>
  </li>
</ul>

<h2>Posts</h2>
<ul>
  <li>
    <a href="/rust-mpsc-deadlock">2023-06-20: Debugging a Rust MPSC Channel Deadlock</a>
  </li>
</ul>

{% endblock content %}
