{% extends "base.html" %} {% block content %}
<style>
body {
  font-size: 120%;
  line-height: 150%;
  max-width: 50ch;
}
a {
  text-decoration: none;
}
.icon {
  height: 1.0em;
  width: 1.0em;
  padding-right: .8ch;
  vertical-align: text-top;
}
ul {
  list-style-type: none;
}
</style>
<h1>Ben Hansen</h1>

<h2>Current Projects</h2>

<ul>
  <li><a href="https://10buttons.com">10 Buttons</a></li>
  <li><a href="https://www.pinging.net">pinging.net</a></li>
</ul>

<h2>Contact</h2>

<ul>
  <li>
  <a href="mailto:web@benhansen.io"><img alt="Email" class="icon" src="/icons/mail.svg">web@benhansen.io</a>
  <li>
  <a href="https://github.com/benhansen-io"><img alt="GitHub" class="icon" src="/icons/github.svg">GitHub</a>
  <li>
  <a href="https://www.linkedin.com/in/benhansen-io/"><img alt="LinkedIn" class="icon" src="/icons/linkedin.svg">LinkedIn</a>
  <li>
  <a href="https://twitter.com/benhansen_io"><img alt="Twitter" class="icon" src="/icons/twitter.svg">Twitter @benhansen_io</a>
</ul>

<h2>Posts</h2>
<ul>
  <li>
    <a href="/linux-directory-permissions">Linux Directory Permissions</a>
  </li>
</ul>

{% endblock content %}
